@theme "/home/user/.config/rofi/theme.rasi"

configuration {
    

    timeout {
        action: "kb-cancel";
        delay:  0;
    }

    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
